@media(prefers-color-scheme: dark) {
  body {
    background: #0f1518;
    color: #fafafa;
  }
    
  #nav-bar {
		background: black;
		color: #fafafa;
		border-bottom: none;
  }

	a {
    color: #fafafa;
  }

	#prefix, button {
		background: #24A0ED;
	}

	#sort-type, #limit {
		background: #0DD3BB;
  }
    
  .post-header {
    background: black;
    color: #fafafa;
  }

  .flair {
    color: turquoise;
  }


}