* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

@font-face {
	font-family: 'Programme';
	src: url('../fonts/programme.woff2');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

body {
	background: #000000;
	color: #ffffff;
	font-family: 'Programme';
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Navigation Bar */
a {
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
	font-weight: normal;
	color: #ff4500;
	font-style: oblique;
}

.nav_bar {
	height: 60px;
	min-width: 100%;
	background: #000000;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	letter-spacing: -.4px;
	transition: top 0.3s;
}

.site_title {
	font-size: 20px;
	color: #ffffff;
}

.icon {
	height: 35px;
	width: 35px;
	display: inline-block;
	padding-right: 10px;
	background: transparent;
	object-fit: contain;
	margin-left: 5px;
}

.prefix {
	height: 35px;
	width: 20px;
	background: #0DD3BB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
}

.search_form {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

input {
	position: relative;
	outline: none;
	border: 1px solid #f8f8ff;
	height: 35px;
	width: 45vw;
	font-size: 13px;
	font-family: 'Programme';
	background: #f0f8ff;
	padding-left: 3px;
	border-radius: 0;
	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}

.sort_type {
	position: relative;
	outline: none;
	border: none;
	width: auto;
	font-size: 12px;
	background: transparent;
	color: #0DD3BB;
	border-radius: 0%;
	font-family: 'Programme';
	-webkit-appearance: none;
	margin: 0px 5px;
	padding: 0 5px;
	display: flex;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

.limit {
	position: relative;
	outline: none;
	border: none;
	font-size: 12px;
	background: transparent;
	color: #0DD3BB;
	border-radius: 0%;
	font-family: 'Programme';
	-webkit-appearance: none;
	padding: 0 5px;
	display: flex;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

button {
	height: 35px;
	width: 50px;
	margin-left: 5px;
	font-family: 'Programme';
	font-size: 13px;
	border: none;
	outline: none;
	position: relative;
	background: transparent;
	color: #ffffff;
}

/* Rendered Media */

.objects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
    height: auto;
    width: 100%;
    top: 45px;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}

.identifier {
    height: 50px;
    width: 425px;
    background: #000000;
    display: flex;
    align-items: center;
}

.subreddit_img {
    height: 35px;
    width: 35px;
    background: transparent;
    border-radius: 50%;
	margin-left: 10px;
	object-fit: contain;
}

.subreddit_icon {
    height: 35px;
    width: 35px;
	border-radius: 50%;
	object-fit: contain;
}

.nameplate {
    font-size: 13px;
    letter-spacing: -.45px;
    line-height: 0;
    margin-left: 5px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
	align-items: center;
	color: #ffffff;
}

#nsfw {
	height: 35px;
	width: 35px;
	object-fit: contain;
	margin-left: 5px;
}

.media_box {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.media_box > img {
	height: 100%;
	width: 100%;
}

.media {
    height: 100%;
    width: 100%;
    background: #000000;
    border: none;
    outline: none;
}

.activity {
    height: auto;
    width: 425px;
	background: #000000;
	color: #ffffff;
    display: inline-block;
	align-items: center;
    font-size: 12px;
    cursor: pointer;
	padding: 10px;
	letter-spacing: -.55px;
}

.like_btn {
    position: relative;
    color: #0DD3BB;
	font-size: 12px;
	letter-spacing: -.45;
	margin-right: 2px;
}

.likes {
    display: inline-block;
    font-family: 'Programme';
    font-size: 12px;
    position: relative;
    bottom: .8px;
    letter-spacing: -.45px;
}

.data_box {
    display: inline-block;
	font-size: 12px;
	position: relative;
}

.user {
	color: #24A0ED;
}

.post_title {
	color: #ffffff;
}

.date_box {
	display: block;
	font-size: 12px;
	position: relative;
}

.domain {
	color: #0DD3BB;
}

.link {
	display: inline-block;
	color: #24A0ED;
}

@media screen and (min-width: 427px) {
    .objects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container, .media_box {
        width: 425px;
        height: auto;
    }

    .media_box video {
        width: 100%;
        height: 50%;
    }

    .likes {
        letter-spacing: 0px;
	}
	
}

@media screen and (min-width: 800px) {
    .objects {
        display: flex;
        flex-direction: column;
    }

    .container, .media_box {
        height: auto;
    }

    .media_box video {
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .objects {
        display: flex;
        flex-direction: column;
    }

    .container, .media_box {
        width: 725px;
        height: auto;
    }

    .media_box video {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 426px) {
	.site_title {
		display: none;
	}

	.icon {
		margin-left: 10px;
	}
}



