* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

@font-face {
	font-family: 'Programme';
	src: url('../fonts/programme.woff2');
}

body {
	background: #24A0ED;
	font-family: 'Programme';
}

/* Navigation Bar */
a {
	text-decoration: none;
	color: unset;
}

#nav-bar {
	height: 60px;
	max-width: 100%;
	background: black;
	color: white;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: left;
	position: sticky;
}

#site-title {
	position: relative;
	font-size: 20px;
	margin: 0px 5px 0px 20px;
}

#reddit {
	width: 87px;
	height: 30px;
	padding-right: 15px;
}

#prefix {
	height: 35px;
	width: 20px;
	background: #24A0ED;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

input {
	position: relative;
	outline: none;
	border: none;
	height: 35px;
	width: 200px;
	font-size: 13px;
	font-family: 'Programme';
	background: white;
	padding-left: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

#sort-type {
	position: relative;
	outline: none;
	border: none;
	height: 35px;
	width: 100px;
	font-size: 12px;
	background: #0DD3BB;
	border-radius: 0%;
	font-family: 'Programme';
	-webkit-appearance: none;
	margin: 0px 5px;
	padding-left: 10px ;
}

#limit {
	position: relative;
	outline: none;
	border: none;
	height: 35px;
	width: 40px;
	font-size: 12px;
	padding-left: 10px;
	background: #0DD3BB;
	border-radius: 0%;
	font-family: 'Programme';
	-webkit-appearance: none;
}

button {
	height: 35px;
	width: 60px;
	margin-left: 5px;
	font-family: 'Programme';
	font-size: 13px;
	border: none;
	outline: none;
	position: relative;
	background: #24A0ED;
}

#subreddit {
	height: 35px;
	width: 375px;
	background: transparent;
	color: white;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 10px;
	letter-spacing: -.4px;
}

#welcome {
	color: white;
	font-size: 40px;
	padding: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	bottom: 50%;
	width: 100%;
	position: absolute;
}

.media {
  	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
	justify-content: center;
	padding: 15px;
	margin-bottom: 10px;
}

.post-header {
	position: relative;
	width: 50vw;
	height: 100%;
	background: black;
	color: white;
	padding: 4px;
}

video {
	position: relative;
	height: 99.6%;
	width: 100%;
	display: inline-block;
	align-items: center;
  	justify-content: center;
	flex-direction: column; 
	background-color: black;
	border: none;
	outline: none;
}

.video-box {
	position: relative;
	height: 50vh;
	width: 50vw;
	background-color: black;
}

img {
	position: static;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
	object-fit: contain;
}

.title {
	font-size: auto;
	margin-left: 5px;
	text-overflow: ellipsis;
}

.video-items {
	font-family: 'Source Sans Pro';
	font-size: 11.5px;
	margin-left: 5px;
}








































